@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
}

/* font work sans  */

.font-work-sans {
    font-family: "Work Sans", sans-serif;
}

.font-Playfai {
    font-family: "Playfair Display", serif;
}

ul>li>.active {

    /* className='border-2 border-[#1313134D] border-b-white py-1 bg-white text-[#131313CC] px-4' */
    color: #131313CC;
    border: 2px solid #1313134D;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: white;
    background-color: white;
    padding: 5px 16px;
}

#navBar .active {
    /* className="border-2 border-[#23BE0A] text-[#23BE0A] text-lg font-semibold rounded-xl" */
    border: 2px solid #23BE0A;
    color: #23BE0A;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 8px;
}